body {
    background-color: #1c1c1f;
}

table {
    max-width: 750px;
    --bs-table-bg: #31313b !important;
    --bs-table-hover-bg: #28282F !important;   
    color: #bbb !important;
    border-radius: 10px;
    overflow: hidden;
}

.table-light {
    --bs-table-bg: #28282F !important;
    color: #bbb !important;
}

table th.hoverable:hover, .nowSort{
    background-color: #373c7a !important;
    cursor: pointer;
}

table {
    text-align: center;
}

table td:hover, .bubble:hover{
    cursor: pointer;
}

table td:nth-child(2) {
    text-align: left;
    color: #fff !important;
}

table th:nth-child(2) {
    text-align: left;
}

.nav-link.active {
    color: #444444 !important;
    background-color: #eee !important;
}

.nav-link {
    color: #ccc !important;
}

.navbar {
    background-color: #373c7a !important;
}

.form-check-label {
    color: #ccc;
}

#bubble-chart-svg {
    background-color: #31313b;
    border : 1px solid #ccc;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 4px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}



/* champion.html */

.top-row {
    background-color: #31313B;
}

.champion-image {
    border-radius: 10px;
}

.tier-banner {
    right: 10px;
    bottom: 0;
}

h1 {
    color: #fff;
    font-size: 30px;
}

.tier-info {
    color: #888;
}

.skill-text {
    width: 13px;
    height: 13px;
    font-size: 10px;
    font-weight: bold;
    background-color: #28282F;
    right: 8px;
    bottom: 0;
    border-radius: 3px;
    display: flex; 
    align-items: center;
    justify-content: center;
}
