body {
    background-color: #1c1c1f;
}

table {
    max-width: 750px;
    --bs-table-bg: #31313b !important;
    --bs-table-hover-bg: #28282F !important;   
    color: #bbb !important;
    border-radius: 10px;
    overflow: hidden;
}

.table-light {
    --bs-table-bg: #28282F !important;
    color: #bbb !important;
}

table th.hoverable:hover, .nowSort{
    background-color: #373c7a !important;
    cursor: pointer;
}

table {
    text-align: center;
}

table td:hover, .bubble:hover{
    cursor: pointer;
}

table td:nth-child(2) {
    text-align: left;
    color: #fff !important;
}

table th:nth-child(2) {
    text-align: left;
}

.nav-link.active {
    color: #444444 !important;
    background-color: #eee !important;
}

.nav-link {
    color: #ccc !important;
}

.navbar {
    background-color: #373c7a !important;
}

.form-check-label {
    color: #ccc;
}

#bubble-chart-svg {
    background-color: #31313b;
    border : 1px solid #ccc;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 4px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}



/* champion.html */

.top-row {
    background-color: #31313B;
}

.card-col {
    background-color: #31313B;
    border-radius: 15px;
}

.image-box {
    flex: 0 0 auto;
    width: 114px;
    height: 100%;
}

.champion-image {
    border-radius: 10px;
}

.tier-banner {
    right: 10px;
    bottom: 0;
}

h1 {
    color: #fff;
    font-size: 30px;
}

h5 {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border-bottom: solid 1px #555;
    padding-bottom: 6px;
    margin-bottom: 20px;
}

.tier-info {
    color: #888;
}

.skill-text {
    width: 13px;
    height: 13px;
    font-size: 10px;
    font-weight: bold;
    background-color: #28282F;
    right: 8px;
    bottom: 0;
    border-radius: 3px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.skill-tooltip, .rune-tooltip{
    max-width: 300px;
    position: absolute;
    text-align: left;
    padding: 10px;
    font: 12px sans-serif;
    color: #fff;
    background: #28282F;
    border: 1px solid #555;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}

.skill-tooltip div strong, .rune-tooltip div strong {
    font-size: 15px;
}

.rate-box {
    padding-left: 13px !important;
    flex: 0 0 auto;
    width: 130px;
    height: 100%;
    border-left: 5px solid;
}

.rate-text-title {
    color: #888;
    font-size: 13px;
}

.win-rate-text-span, .pick-rate-text-span, .ban-rate-text-span {
    font-size: 20px;
    color: #fff;
    
}

.rune-name {
    color: #fff;
    opacity: 0.6;
    font-size: 23px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img.grayscale {
    filter: grayscale(100%);
    opacity: 0.4;
}

div :has(> .precision-active){
    border: solid 2px #dca35c;
    border-radius: 50%;
}

div :has(> .resolve-active){
    border: solid 2px #70ca69;
    border-radius: 50%;
}

div :has(> .domination-active){
    border: solid 2px #b55862;
    border-radius: 50%;
}

div :has(> .sorcery-active){
    border: solid 2px #9facfa;
    border-radius: 50%;
}

div :has(> .inspiration-active){
    border: solid 2px #80d1e8;
    border-radius: 50%;
}

div :has(> .stats-image){
    background-color: #28282F;
    border-radius: 50%;
}

div :has(> .stats-active){
    border: solid 1px #f2bf43;
}
